/* Add CSS Styling */

.odd-number {
    background-color:rgb(255, 187, 202);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second-element {
    color:#0000ff;
    font-size: 36px;
}

.font-24 {
    font-size: 24px;
}

#fourth-element {
    background-color:rgb(80, 245, 80);
    font-weight: bold;
}